<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">Priya</a>
          </div>
            <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page-1</a></li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Page-2
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">menu-1</a></li>
              <li><a href="#">menu-2</a></li>
              <li><a href="#">menu-3</a></li>
              <li><a href="#">menu-4</a></li>
            </ul>
          </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-user"></i> About</a></li>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Here">
            </div>
            <button class="btn btn-warning">Search Now</button>
          </form>
          <div class="btn btn-danger navbar-btn navbar-right">Click Me</div>
          </div>
        </div>
      </nav>
      <div class="container" style="margin-top: 70px;">
          <div class="row">
              <div class="col-md-3">
                  <h4><i class="fa fa-dashboard"></i> DashBoard</h4>
                  <hr>
                     <ul class="nav nav-stacked">
                          <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                          <li class="active"><a href="#"><i class="fa fa-address-card"></i> Product</a></li>
                          <li><a href="#"><i class="fa fa-user"></i> User</a></li>
                     </ul>
                      <hr>
                     <ul class="nav nav-stacked">
                             <li><a href="#"><i class="fa fa-cog"></i> Setting</a></li>
                             <li><a href="#"><i class="fa fa-file"></i> Reports</a></li>
                             <li><a href="#"><i class="fa fa-address-book"></i> Profile</a></li>
                         </ul>
                         </div>
                         <div class="col-md-6">
                             <h4><i class="fa fa-address-card"></i> Product details</h4>
                             <hr>
                             <form action="#">
                                 <div class="form-group">
                                     <label for="name" class="control-label">Product Name</label>
                                     <input type="text" class="form-control" placeholder="Enter Product Name">
                                 </div>
                                 <div class="form-group">
                                    <label for="price" class="control-label">Price</label>
                                    <input type="text" class="form-control" placeholder="Enter Product Price">
                                </div>
                                <div class="form-group">
                                    <label for="quantity" class="control-label">Quantity</label>
                                    <input type="text" class="form-control" placeholder="Enter Product Quantity">
                                </div>
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Save</button>
                             </form>
                             <hr>
                             <table class="table table-bordered">
                                 <tr>
                                     <th>S.NO</th>
                                     <th>PRODUCT NAME</th>
                                     <th>PRICE</th>
                                     <th>QUANTITY</th>
                                     <th>EDIT</th>
                                     <th>DELETE</th>
                                 </tr>
                                 <tr>
                                     <td>1.</td>
                                     <td>RICE</td>
                                     <td>300</td>
                                     <td>3</td>
                                     <td><a href="#" class="btn btn-info btn-xs"><i class="fa fa-edit"></i> Edit</a></td>
                                     <td><a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Delete</a></td>
                                 </tr>
                                 <tr>
                                    <td>2.</td>
                                    <td>DAL</td>
                                    <td>400</td>
                                    <td>2</td>
                                    <td><a href="#" class="btn btn-info  btn-xs"><i class="fa fa-edit"></i> Edit</a></td>
                                    <td><a href="#" class="btn btn-danger  btn-xs"><i class="fa fa-trash"></i> Delete</a></td>
                                 </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>WHEAT FLOAR</td>
                                    <td>100</td>
                                    <td>3</td>
                                    <td><a href="#" class="btn btn-info  btn-xs"><i class="fa fa-edit"></i> Edit</a></td>
                                    <td><a href="#" class="btn btn-danger  btn-xs"><i class="fa fa-trash"></i> Delete</a></td>
                                </tr>
                             </table>
                         </div>
              </div>
          </div>

