
div{
    font-family: 'Lato', sans-serif;
}
li:hover{
  color:orange;
  background-color: seashell;
}
p{
  margin-top:0%;
}
@media only screen and (max-width: 150px){
  .col-md-12{
    float:left;
    }
  }